header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header form {
    display: flex;
    align-items: center;
}

header input[type="search"] {
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 100;
}

.card-container{
    margin-top:100px;
}
